# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare that bash files will always have LF line endings on checkout.
*.sh text eol=lf
*.rpm filter=lfs diff=lfs merge=lfs -text
